
.hidden_promo{
    overflow: hidden;
    /*height: 200px;*/
}
.promo_image{
    /*height: 190px;*/

}
.mSyshi{
    color: #e40e21;
    margin-bottom: 5px;
    font-size: 23px;
}
.headerElem{
    margin-bottom: 5px;
    font-size: 18px;
}
.cart_numb{
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    background: #e4f2f4;
    border-radius: 50%;
    margin: 5px;
}
.stickyMenu{
    margin-top: 65px;
    height: 500px;
}
body{
    padding-top: 68px;
}
.line{
    background: rgb(228, 242, 244);
    height: 5px;
}
.m-st{
    margin-top: 50px;
}
.pointer:hover{
    cursor: pointer;
}